<main>
    
    
    <section>
        <h1>Iniciar sesión</h1>

        <form action="">
            <div class="box">
                <label for="">Correo electrónico:</label>
                <input  placeholder="Introduzca su correo electrónico" type="email">

            </div>

            <div class="box">
                <label for="">Contraseña:</label>
                <input  placeholder="Introduzca su contraseña" type="password">

            </div>

            <ul>
                <li>¿No tienes cuenta? - <a routerLink="./registro">Registrese aquí</a></li>
            </ul>
        </form>


    </section>



</main>