<main>
    
    
    <section>
        <h1>Cree una nueva cuenta</h1>

        <form action="">
            <div class="box">
                <label for="">Nombre(s):</label>
                <input  placeholder="Introduzca su(s) nombre(s)" type="email">
            </div>

            <div class="box">
                <label for="">Apellido(s):</label>
                <input  placeholder="Introduzca su(s) apellido(s)" type="password">
            </div>
            
            <div class="box">
                <label for="">Correo electrónico:</label>
                <input  placeholder="Introduzca un correo electrónico válido" type="password">
            </div>

            <div class="box">
                <label for="">Contraseña:</label>
                <input  placeholder="Introduzca su(s) apellido(s)" type="password">
            </div>

            <div class="box">
                <label for="">Confirmar contraseña:</label>
                <input  placeholder="Introduzca su(s) apellido(s)" type="password">
            </div>
            
            <div class="box">
                <label for="">Número celular/teléfono:</label>
                <input  placeholder="Introduzca algún número de celular/teléfono" type="password">
            </div>
            
             <ul>
                <li>¿Ya tiene una cuenta? - <a routerLink="./login">Inicie sesión aquí</a></li>
            </ul>
        </form>


    </section>



</main>