<div id="container">

    <div class="content">

        <article class="fraction">
            <p class="animate__animated animate__fadeInLeft animate__fast"> Proyecto hecho para mostrar registros de clientes, en donde cada registro se puede actualizar y eliminar, todos los campos a llenar serán obligatorios. </p>
        </article>

        <section class="image animate__animated animate__fadeIn">
                <img  src="../../../../assets/images/desk1.png" alt="">
        </section>

    </div>
    
    <section class="contacto">
        <h2 class="animate__animated animate__fadeInUp"> Puedes revisar mis demás proyectos en mi github, también dejo mi perfil de Linkedin </h2>

        <ul class="animate__animated animate__fadeInUp">
            <li>
                <a href="https://github.com/Danielzavala-reds?tab=repositories" target="_blank"> Github </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/daniel-rojas-zavala/" target="_blank"> Linkedin </a>
            </li>
        </ul>
    </section>


</div>