<div id="container">

    <div class="content">

        <article class="fraction">
            <p class="animate__animated animate__fadeInLeft animate__fast"> Project to manage your clients, where you can add them by name, cell phone number, email, address,
                company and add description.

                The fields to fill in are optional so you will only add the fields you need. </p>
        </article>

        <section class="image animate__animated animate__fadeIn">
                <img  src="../../../../assets/images/desk1.png" alt="">
        </section>

    </div>
    
    <section class="contacto">
        <h2 class="animate__animated animate__fadeInUp"> You can check my projects in my github repository and i attached my linkedin </h2>

        <ul class="animate__animated animate__fadeInUp">
            <li>
                <a href="https://github.com/Danielzavala-reds?tab=repositories" target="_blank"> Github </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/daniel-rojas-zavala/" target="_blank"> Linkedin </a>
            </li>
        </ul>
    </section>


</div>