<div class="container ">
    <header id="header">
        <h2 routerLink="./principal" > Administre sus clientes </h2>
    
        <h2> Bienvenido "usuario.nombre" </h2>  
        
        <button (click)="logOut()"> Cerrar sesión </button>   
    </header>
   
   <div class="main">

    <aside id="sidebar">
       
           <div id="content">
       
               <ul class="elements">
                <li> <i class="fi fi-rr-angle-right"></i> </li>
                <li> <i routerLink="./perfil" class="fi fi-rr-user"></i> </li>
                <li> <i routerLink="./nuevo-registro" routerLinkActive="active" class="fi fi-rr-user-add"></i> </li>
                <li> <i routerLink="./registros" routerLinkActive="active" class="fi fi-rr-users-alt"></i> </li>
               </ul>
       
           </div>
       </aside>

      
       <div class="center">
           <router-outlet></router-outlet>  

       </div>
        

   </div>
    

   

</div>



