body, html {
    margin: 0px;
    padding: 0px;
    background-image: url('./assets/images/pattern-back.jpg');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
